<%= render "flash" %>

<h2><%= t("sessions.new.login") %></h2>
<p>Nemáte u nás účet? <%= link_to "Zaregistrujte se", new_user_url, remote: true %>.</p>

<%= form_tag(sessions_url, method: :post, remote: true) do %>
  <div class="field">
    <%= label_tag :email %><br>
    <%= text_field_tag :email, nil, autofocus: true %>
  </div>

  <div class="field">
    <%= label_tag :password, t("sessions.new.password") %><br>
    <%= password_field_tag :password %>
  </div>
  <p><%= link_to t("passwords.request_password.forgotten_password"), request_password_url, remote: true %></p>

  <div class="actions">
    <%= submit_tag t("actions.login") %>
  </div>
  <div class="cleaner"></div>
<% end %>
