<% if @current_user.present? %>
  $("nav#main_menu ul li.right ul").empty().html("<%=j render 'user_menu_logged' %>");

  var user_menu_image = $("nav#main_menu ul li.right img");
  user_menu_image.attr("src", "<%= image_path 'icon_user_logged.png' %>");
  user_menu_image.attr("title", "<%= @current_user.title_for_user_menu %>");

  <%= render "flash_response" %>
<% else %>
  $("div#content div#flash_message").remove();
  $("div#content").prepend("<%=j render 'flash' %>");
<% end %>
