$("nav#main_menu ul li.right ul").html("<%=j render 'user_menu_basic' %>");

var user_menu_image = $("nav#main_menu ul li.right img");
user_menu_image.attr("src", "<%= image_path 'icon_user.png' %>");
user_menu_image.removeAttr("title");

<%= render "flash_response" %>
