Vítej v komunitě Zasaď své město

K přihlášení použij svoji emailovou adresu: <%= @user.email %>.
Přihlásit se můžeš na adrese: <%= link_to login_url, login_url %>.
Děkujeme, že se k nám přidáváš!
Komunita Zasaď své město
