<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Vítej v komunitě Zasaď své město</h1>
    <p>K přihlášení použij svoji emailovou adresu: <strong><%= @user.email %></strong>.</p>
    <p>Přihlásit se můžeš na adrese: <%= link_to login_url, login_url %>.</p>
    <p>Děkujeme, že se k nám přidáváš!</p>
    <p>Komunita Zasaď své město</p>
  </body>
</html>
