<div id="comments">
<h3><%= t("comments.comments") %></h3>
<%= render partial: "comments/comment", collection: @marker.comments %>

<h4><a href="#"><%= t("comments.add") %></a></h4>
<%= form_for([@marker, @marker.comments.build], remote: true) do |f| %>
  <div class="field">
    <%= f.label :author_name, t("comments.author") %><br>
    <% if @current_user.nil? %>
      <%= f.text_field :author_name, placeholder: t("anonym") %>
    <% else %>
      <%= f.text_field :author_name, value: @current_user.name %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :body, t("comments.comment") %><br>
    <%= f.text_area :body, cols: 55, rows: 5 %>
  </div>

  <div class="actions">
    <%= f.submit t("actions.submit") %>
  </div>
  <div class="cleaner"></div>
<% end %>
</div>
