<div class="comment" id="comment<%= comment.id %>">
  <p><span class="author"><%= comment.author_name.present? ? comment.author_name : t("anonym") %></span>
    <span class="date"><%= comment.created_at.strftime("%-d.%-m.%Y %H:%M") %></span></p>
  <p><%= comment.body %></p>
  <% if can? :destroy, Comment %>
    <%= link_to t("actions.destroy"), marker_comment_url(id: comment.id, marker_id: comment.marker.id), method: :delete, remote: true, class: "destroy" %>
  <% end %>
</div>
