<% if @comment.present? %>
  $("form#new_comment").find("input[type=text], textarea").val("");
  $("div#comments h3").after("<%=j render partial: 'comment', locals: { comment: @comment } %>");
<% end %>
