<% if @current_user.present? && can?(:manage, @marker) %>
  <nav id="content_menu">
    <ul>
      <li><%= link_to t("markers.admin_menu.edit"), edit_marker_url(@marker), remote: true %></li>
      <li><%= link_to t("markers.admin_menu.destroy"), marker_url(@marker), method: :delete, data: { confirm: t("actions.confirm") } %></li>
    </ul>
  </nav>
  <div class="cleaner"></div>
<% end %>
