<%= form_for(@marker, remote: true, authenticity_token: true) do |f| %>
  <%= render "form_errors" %>

  <div class="field">
    <%= f.label :title, t("markers.title") %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content, t("markers.content") %><br>
    <%= f.text_area :content, rows: 10, cols: 50 %>
  </div>
  <div class="field">
    <%= f.label :marker_category_id, t("markers.marker_type") %>
    <%= f.select :marker_category_id, options_for_select(@marker_categories, @marker.marker_category_id) %>
  </div>

  <% if [:new, :create].include? controller.action_name.to_sym %>
    <%= render partial: "pictures_form_new", locals: {f: f} %>
  <% else %>
    <%= render partial: "pictures_form_edit" %>
  <% end %>

  <div class="field">
    <%= f.label :video_url, t("markers.video_url") %><br>
    <%= f.text_field :video_url %>
    <p><%= t("markers.video_url_description").html_safe %></p>
  </div>

  <%= f.hidden_field :lat %>
  <%= f.hidden_field :lng %>

  <div class="actions">
    <%= f.submit t("actions.submit") %>
  </div>
    <div class="cleaner"></div>
<% end %>
