<% if @marker.errors.any? %>
  <div id="error_explanation">
    <h3><%= t("actions.errors") %></h3>

    <ul>
    <% @marker.errors.messages.each do |message| %>
      <li><%= message[1].first %></li>
    <% end %>
    </ul>
  </div>
<% end %>