<script>
    $(document).ready(function(){
      var markers = [];
      <% @markers.each do |marker| %>
        markers.push(
          <%= marker.to_json(include: { pictures: {methods: [:url_thumb, :url_medium]}}, methods: :full_title).html_safe %>
        );
      <% end %>

      for (i in markers) {
        loadMarker(markers[i], map);
      }
    });
</script>
