<% if @marker.pictures.present? %>
  <div id="pictures">
    <ul>
      <% @marker.pictures.each do |picture| %>
      <li>
        <%= link_to(image_tag(picture.picture.url(:thumb)), image_path(picture.picture.url(:medium)), rel: "gallery#{@marker.id}", class: "fancybox") %>
      </li>
      <% end %>
    </ul>
    <div class="cleaner"></div>
  </div>
<% end %>
