<div id="pictures_form" data-fields-to-show="5">
  <%= f.fields_for :pictures do |pictures_form| %>
    <div class="field">
      <%= pictures_form.label :picture, t("markers.picture") %>
      <%= pictures_form.file_field :picture %>
    </div>
  <% end %>
</div>
