loadMarker(<%= @marker.to_json.html_safe %>, map);
history.pushState({}, "", "<%= marker_path @marker %>");
$("div#content").empty().html("<%=j render 'show' %>");
$("div#flash_message").delay(2000).fadeOut(1000);
