<%= render "flash" %>
<%= render "admin_marker_menu" %>

<div id="left">
  <h2><%= @marker.title %></h2>
  <p id="gps">GPS: <%= @marker.gps %></p><br>
  <div id="text"><%= simple_format(@marker.content) %></div>

  <%= render "comments/comments" %>
</div>

<div id="right">
  <% if @marker.pictures.present? %>
    <div id="pictures">
      <h3><%= t("markers.pictures") %></h3>
      <ul>
        <% @marker.pictures.all.each_with_index do |picture, i| %>
          <% if i % 2 == 0 %><li><% else %><li class="odd"><% end %>
          <%= link_to(image_tag(picture.picture.url(:thumb)), image_path(picture.picture.url(:medium)), rel: "gallery#{@marker.id}", class: "fancybox") %></li>
        <% end %>
      </ul>
      <div class="cleaner"></div>
    </div>
  <% end %>

  <% if @marker.video_iframe.present? %>
    <h3><%= t("markers.video") %></h3>
    <div id="video">
      <%= @marker.video_iframe_formatted(:content).html_safe %>
    </div>
  <% end %>
</div>
<div class="cleaner"></div>
