// CURRENTLY NOT IN USE
// NO WAY TO REMOVE DESTROYED MARKER FROM THE MAP

<%= render "flash_response" %>

var icon = getDefaultMarkerIcon()
    marker;
marker = L.marker([<%= @marker.lat %>, <%= @marker.lng %>], {icon: icon, markerId: <%= @marker.id %>});
map.removeLayer(marker);
