<%= render "flash" %>

<h1><%= t("markers.index") %></h1>

<table>
  <thead>
    <tr>
      <th><%= t('models.markers.title') %></th>
      <th><%= t('models.markers.content') %></th>
      <th><%= t('models.markers.marker_type') %></th>
      <th><%= t('models.markers.pictures') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @markers.each do |marker| %>
      <tr>
        <td><%= marker.title %></td>
        <td><%= marker.content %></td>
        <td><%= marker.marker_category_id %></td>
        <td><%= marker.pictures.length %></td>
        <td><%= link_to t('actions.show'), marker %></td>
        <td><%= link_to t('actions.edit'), edit_marker_path(marker) %></td>
        <td><%= link_to t('actions.destroy'), marker,
                        method: :delete, data: { confirm: t('actions.confirm') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('models.markers.new'), new_marker_path %>
