<% if @marker.valid? %>
  <%= render "show_with_flash" %>
<% else %>
  $("div#error_explanation").remove();
  $("div#content h2").after("<%=j render "form_errors" %>");
  $("div#content").scrollTop();
  $("div#content form#new_marker img.loading").remove();
  $("div#content form#new_marker").find("input[name='commit']").removeAttr("disabled");
<% end %>
