<%= render "flash" %>

<h2><%= t("users.edit.edit_user") %></h2>

<%= form_for(@user, url: user_url(@user), method: :put, remote: true) do |f| %>
  <%= render partial: "form", locals: { f: f } %>

  <% if @current_user.admin? %>
    <div class="field">
      <%= f.label :role %>
      <%= f.select :role, options_for_select(@roles, @user.role) %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit t("actions.submit") %>
  </div>
<% end %>

<%= link_to t("users.index.list_of_users"), users_path, remote: true %>
