  <%= render "form_errors" %>

  <div class="field">
    <%= f.label :name, t("forms.name") %><br>
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email, t("forms.email") %><br>
    <%= f.text_field :email %>
  </div>
