<%= render "flash" %>

<h2><%= t("users.index.list_of_users") %></h2>

<table>
  <tr>
    <th><%= t("users.index.email") %></th>
    <th><%= t("users.index.name") %></th>
    <th><%= t("users.index.role") %></th>
    <th><%= t("users.index.created_at") %></th>
    <th><%= t("actions.actions") %></th>
<% @users.order(:email).each do |user| %>
  <tr id="user<%=user.id%>">
    <td><%= user.email %></td>
    <td><%= user.name %></td>
    <td><%= t("users.roles.#{user.role}") %></td>
    <td class="t-center"><%= user.created_at.strftime("%-d.%-m.%Y %H:%M") %></td>
    <td><%= link_to t("actions.edit"), edit_user_url(user), remote: true %>&nbsp;<%= link_to t("actions.destroy"), user_url(user), method: :delete, remote: true, data: { confirm: t("actions.confirm") } %></td>
  </tr>
<% end %>
</table>
