<%= render "flash" %>

<h2><%= t("users.new.sign_up") %></h2>
<p class="mb10"><%= t("users.new.description") %></p>

<%= form_for(@user, url: users_url, method: :post, remote: true) do |f| %>
  <%= render partial: "form", locals: { f: f } %>

  <div class="field">
    <%= f.label :password, t("forms.password") %><br>
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, t("forms.password_confirmation") %><br>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="actions">
    <%= f.submit t("actions.sign_up") %>
  </div>
  <div class="cleaner"></div>
<% end %>
