<%= render "flash" %>

<h2><%= t("users.show.profile") %></h2>

<p><%= t("users.index.name").capitalize %>: <%= @user.name %></p>
<p><%= t("users.index.email").capitalize %>: <%= @user.email %></p>
<br>
<p><%= link_to t("actions.edit"), edit_user_url(@user), remote: true %></p>
<br>
<p><%= link_to t("users.destroy.destroy_account"), user_url(@user), method: :delete, style: "color: red", data: { confirm: t("actions.confirm") } %>&nbsp;<%= t("users.destroy.destroy_account_description") %></p>
