<% if @user.valid? %>
  <%= render "flash_response" %>
<% else %>
  $("div#content div#error_explanation").remove();
  $("div#content h2").after("<%=j render 'form_errors' %>");
  $("div#content").scrollTop();
  $("div#content form#new_user img.loading").remove();
  $("div#content form#new_user").find("input[name='commit']").removeAttr("disabled");
<% end %>
