<% if @current_user.admin? %>
  $("div#content").prepend("<%=j render 'flash' %>");
  $("div#flash_message").delay(2000).fadeOut(1000);
  $("div#content table tr#user<%= @user.id %>").fadeOut(1000);
<% else %>
  $("nav#main_menu ul li.right ul").empty().html("<%=j render 'user_menu_basic' %>");
  $("div#content").empty().html("<%=j render 'flash' %>");
<% end %>
