<% if @user.valid? %>
  history.pushState({}, "", "<%= user_url(@user) %>");
  <% if @current_user.admin? %>
    $("div#content").empty().html("<%=j render 'index' %>")
  <% else %>
    $("div#content").empty().html("<%=j render 'show' %>");
  <% end %>
  $("div#flash_message").delay(2000).fadeOut(1000);
<% else %>
  $("div#content h2").after("<%=j render "form_errors" %>");
  $("div#content").scrollTop();
  $("div#content form.edit_user img.loading").remove();
  $("div#content form.edit_user").find("input[name='commit']").removeAttr("disabled");
<% end %>
