<%= render "flash" %>

<h2><%= t("passwords.request_password.renew_forgotten_password") %></h2>

<%= form_for(@user, url: password_url, method: :post, remote: true) do |f| %>
  <%= hidden_field_tag :token, @user.renew_password_token %>
  <div class="field">
    <%= f.label :password, t("users.new.password") %>
    <%= f.password_field :password, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, t("users.new.password_confirmation") %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="actions">
    <%= f.submit t("actions.submit") %>
  </div>
  <div class="cleaner"></div>
<% end %>
