<%= render "flash" %>

<h2><%= t("passwords.request_password.renew_forgotten_password") %></h2>

<%= form_tag(password_url, method: :put, remote: true) do %>
  <div class="field">
    <%= label_tag :email %>
    <%= text_field_tag :email, nil, autofocus: true %>
  </div>

  <div class="actions">
    <%= submit_tag t("passwords.request_password.renew_password") %>
  </div>
  <div class="cleaner"></div>
<% end %>
