$("title").html("<%= @title %>");

<% if @password_ok %>
  $("div#content").empty().html("<%=j render 'sessions/new' %>");
<% else %>
  $("div#content div#flash_message").remove();
  $("div#content").prepend("<%=j render 'flash'%>");
<% end %>
$("div#flash_message").delay(2000).fadeOut(1000);
