$("title").html("<%= @title %>");

<% if @user.present? %>
  <%= render "flash_response" %>
<% else %>
  $("div#content div#flash_message").remove();
  $("div#content").prepend("<%=j render 'flash' %>");
  $("div#flash_message").delay(2000).fadeOut(1000);
<% end %>
