<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= t("mailer.password.renew_password_token.subject") %></h1>
    <p>Kliknutím na následující odkaz si můžeš nastavit nové heslo:</p>
    <p><%= link_to @url, @url %></p>
    <p>Komunita Zasaď své město</p>
  </body>
</html>
