function showContentBox(url) {
  $("div#content_outer_wrapper").css("display", "block");

  if(typeof url != 'undefined' && url.length) {
    history.pushState({}, "", url);
  }
  addContentBoxCloseButtonListener();
}

function hideContentBox() {
  $("div#content_outer_wrapper").css("display", "none");
  $("div#content_outer_wrapper").remove();
  $("title").text("<%= CustomPage::DEFAULT_TITLE %>");
  history.pushState({}, "", "/");
}

function loadContentBox(data) {
  var outerWrapper = $("div#content_outer_wrapper"),
      innerWrapper;

  if (outerWrapper.length == 0) {
    $("div#maps_wrapper").after("<div id='content_outer_wrapper'></div>");
    $("div#content_outer_wrapper").append("<div id='content_inner_wrapper'></div>");
    innerWrapper = $("div#content_inner_wrapper");
    innerWrapper.append("<div id='close_button_box'><a href='#' id='close_button'>close button<span></span></a></div>");
    innerWrapper.append("<div id='content'></div>");
  }
  $('div#content').html(data);
}

function loadAndShowContentBox(data) {
  loadContentBox(data);
  showContentBox();
}

function clickOutsideContentBox(event) {
  return $(event.target).closest("div#content_inner_wrapper").length == 0
    && !$("html").hasClass("fancybox-lock");
}

function contentBoxContainsOnlyFlashMessage() {
  return $("body#markers_index div#content").children().length == 1
    && $("body#markers_index div#content div#flash_message").children().length > 0;
}

function contentBoxAutoWidth() {
  $("div#content_outer_wrapper").css("width", "auto");
  $("div#content").css("padding-right", "20px");
}

function autoHideContentBox() {
  setTimeout( function() {
      hideContentBox();
    }, 2000);
}

function addContentBoxCloseButtonListener() {
  $("a#close_button").click(function(e) {
    e.preventDefault();
    hideContentBox();
  });
}
