function loadMarker(markerData, map) {
  var icon = getDefaultMarkerIcon(),
      marker;

  marker = L.marker([markerData.lat, markerData.lng], {icon: icon, markerId: markerData.id});
  marker.addTo(map);
  marker.on("click", function() {
    showMarker(markerData);
  });
}

function showMarker(markerData) {
    var url = '/markers/' + markerData.url;

    $.ajax(url + "?l=f").done(function(html) {
      $("title").html(markerData.full_title);
      history.pushState({}, "", url);
      loadAndShowContentBox(html);
    });
}

function addNewMarker(map) {
  if (ableToAddToMap() == true) {
    map.on('click', function(e) {
      var newMarkerUrl = "/markers/new";

      $.ajax(newMarkerUrl + "?l=f").done(function(newMarkerForm) {
        history.pushState({}, "", "/markers/new")
        loadContentBox(newMarkerForm);
        $("div#content").find("input#marker_lat").val(e.latlng.lat);
        $("div#content").find("input#marker_lng").val(e.latlng.lng);
        $("div#pictures_form div.field:not(:first-child)").css("display", "none");
        $("div#pictures_form").append("<a href='#' id='add_picture_field'><%= I18n.t('markers.add_picture_field') %></a>");
        $("a#add_picture_field").click(function(eAddPicture) {
          eAddPicture.preventDefault();
          showAnotherPictureField();
        });
        showContentBox(newMarkerUrl);

        $("form#new_marker").submit(function() {
          $(this).parents().find("div#content div#error_explanation").remove();
          $(this).find("input[name='commit']").attr("disabled", "disabled");
          $(this).find("div.actions div.cleaner").before("<img src=\"<%= image_path 'fancybox_loading.gif' %>\" class=\"loading\">");
        });
        disallowAddToMap();
        map.off("click");
      });
      return false;
    });
  }
}

function getDefaultMarkerIcon() {
  return L.icon({
    iconUrl: '<%= asset_path "marker-icon-green.png" %>',
    iconRetinaUrl: 'my-icon@2x-green.png',
    iconSize: [25, 41],
    iconAnchor: [16, 40],
    popupAnchor: [-3, -41],
    shadowUrl: '<%= asset_path "marker-shadow.png" %>',
    shadowRetinaUrl: 'my-icon-shadow@2x.png',
    shadowSize: [29, 41],
    shadowAnchor: [14, 40]
  });
}

function allowAddToMap() {
  $('#addMarker').attr('data-add-marker', true);
  $('.leaflet-container').css('cursor', 'crosshair');
}

function disallowAddToMap() {
  $('#addMarker').attr('data-add-marker', false);
  $('.leaflet-container').css('cursor', 'grab');
}

function ableToAddToMap() {
  if ($("#addMarker").attr('data-add-marker') == "true") {
    return true;
  }
  return false;
}

function showAnotherPictureField() {
  var pictureFields = $("div#pictures_form div.field:not(:first-child)"),
      picturesForm = $("div#pictures_form");

  for(field in pictureFields) {
    if ($(pictureFields[field]).css("display") == "none") {
      $(pictureFields[field]).css("display", "block");
      picturesForm.attr("data-fields-to-show", picturesForm.attr("data-fields-to-show") - 1);
      break;
    }
  }

  if (picturesForm.attr("data-fields-to-show") == 0) {
    $("a#add_picture_field").css("display", "none");
  }
}
