<% if @current_user.present? && can?(:manage, @custom_page) %>
  <nav id="content_menu">
    <p><strong><%= t("custom_pages.active") %>:</strong> <%= @custom_page.active? ? t("yes") : t("no") %></p>
    <p><strong><%= t("custom_pages.show_in_menu") %>:</strong> <%= @custom_page.show_in_menu? ? t("yes") : t("no") %></p>
    <p><strong><%= t("custom_pages.page_url") %>:</strong> /<%= @custom_page.page_url %></p>
    <p><strong><%= t("custom_pages.position_in_menu") %>:</strong> <%= @custom_page.position_in_menu ? "#{@custom_page.position_in_menu}." : t('custom_pages.no_position') %></p>

    <%= link_to t("custom_pages.edit.edit_page"), edit_custom_page_url(@custom_page), remote: true %><br>
    <%= link_to t("custom_pages.destroy.destroy_page"), custom_page_url(@custom_page), method: :delete, remote: true, data: { confirm: t("actions.confirm") } %><br>
    <%= link_to t("custom_pages.index.pages_list"), custom_pages_url, remote: true %>
  </nav>
  <div class="cleaner"></div>
<% end %>
