<h2><%= t("custom_pages.edit.edit_page") %></h2>

<%= render 'form' %>

<%= link_to t("custom_pages.show.show_page"), show_custom_page_url(@custom_page), remote: true %> |
<%= link_to t("custom_pages.index.pages_list"), custom_pages_path, remote: true %>
