<%= form_for(@custom_page, remote: true) do |f| %>
  <%= render "form_errors" %>

  <div class="field">
    <%= f.label :title, t("custom_pages.title") %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :page_url, t("custom_pages.page_url") %><br>
    /<%= f.text_field :page_url %>
  </div>
  <div class="field">
    <%= f.label :body, t("custom_pages.body") %><br>
    <%= f.text_area :body, cols: 100, rows: 15 %>
  </div>
  <div class="field">
    <%= f.check_box :active %>
    <%= f.label :active, t("custom_pages.active") %>
  </div>
  <div class="field">
    <%= f.check_box :show_in_menu %>
    <%= f.label :show_in_menu, t("custom_pages.show_in_menu") %>
  </div>
  <div class="field">
    <%= f.label :position_in_menu, t("custom_pages.position_in_menu") %><br>
    <%= f.number_field :position_in_menu %>
  </div>
  <div class="actions">
    <%= f.submit t("actions.submit") %>
  </div>
<% end %>

<%= javascript_tag do -%>
  $('input#custom_page_page_url').keyup(function() {
    isUrlAvailable(
      $(this),
      '<%= j @custom_page.url_to_url_available %>',
      '<%= j @custom_page.page_url %>',
      '<%= j t("custom_pages.available") %>',
      '<%= j t("custom_pages.unavailable") %>'
    );
  })
<% end -%>
