<h2><%= t("custom_pages.index.pages_list") %></h2>

<table id="pages_list">
  <thead>
    <tr>
      <th><%= t("custom_pages.title").downcase %></th>
      <th><%= t("custom_pages.page_url") %></th>
      <th><%= t("custom_pages.active").downcase %></th>
      <th><%= t("custom_pages.show_in_menu").downcase %></th>
      <th><%= t("custom_pages.position_in_menu").downcase %></th>
      <th><%= t("actions.actions") %></th>
    </tr>
  </thead>

  <tbody>
    <% @custom_pages.each do |custom_page| %>
      <tr id="page<%= custom_page.id %>">
        <td><%= link_to custom_page.title, show_custom_page_url(custom_page), remote: true %></td>
        <td>/<%= custom_page.page_url %></td>
        <td class="t-center"><%= custom_page.active? ? t("yes") : t("no") %></td>
        <td class="t-center"><%= custom_page.show_in_menu ? t("yes") : t("no") %></td>
        <td class="t-center"><%= custom_page.position_in_menu.present? ? "#{custom_page.position_in_menu}." : "-" %></td>
        <td><%= link_to t("actions.edit"), edit_custom_page_path(custom_page), remote: true %>
          <%= link_to t("actions.destroy"), custom_page_url(custom_page), method: :delete, remote: true, data: { confirm: t("actions.confirm") } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t("custom_pages.new.new_page"), new_custom_page_path, remote: true %>
