<% if @custom_page.valid? %>
  <%= render "show_with_flash" %>
  $("nav#main_menu ul > li:first ul").html("<%=j render 'website_menu' %>");
<% else %>
  $("div#error_explanation").remove();
  $("div#content h2").after("<%=j render "form_errors" %>");
  $("div#content").scrollTop();
  $("div#content form#new_page img.loading").remove();
  $("div#content form#new_page").find("input[name='commit']").removeAttr("disabled");
<% end %>
