if (!$("table#pages_list").length) {
  $("div#content").empty().html("<%=j render 'index' %>")  ;
}
$("div#content").prepend("<%=j render 'flash' %>");
$("div#flash_message").delay(2000).fadeOut(1000);
$("table#pages_list tr#page<%= @custom_page.id %>").fadeOut(1000);
