/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery.fancybox-buttons
 *= require jquery.fancybox-thumbs
 *= require jquery.fancybox
 *= require_self
 * require_tree .
 */


/* --- COMMONS --- */
* { margin: 0; padding: 0; }
body { font: .85em sans-serif; }
table { border-collapse: collapse; border-top: 1px solid #EEE; border-left: 1px solid #EEE; }
th, td { padding: 5px 10px; border-right: 1px solid #EEE; border-bottom: 1px solid #EEE; }
th { text-align: center; }
.mb10 { margin-bottom: 10px; }
.cleaner {
  clear:both;
  height:1px;
  margin: -1px 0 0 0; padding:0;
  border:none;
  visibility: hidden;
}
.t-center { text-align: center; }
.available { color: #00AB66; }
.unavailable { color: red; }

/* --- FORMS --- */
div.field { margin: 10px 0; }
div.field p { font-size: .85em; line-height: 1em; color: #444; }
div.actions { margin: 10px 0 20px 0; }
div.actions * { float: left; }
div.actions input { margin: 0 10px 0 0; padding: 5px 10px; }
div#pictures_form a#add_picture_field {
  display: block;
  margin: -5px 0 15px 0; padding: 0 0 0 17px;
  color: black; background: url(<%= image_path "icon_plus.png" %>) center left no-repeat;
}
div#content div#error_explanation h3 { font-size: 1em; margin: 0 0 5px 0; }
div#error_explanation ul { margin: 0 0 10px 15px; color: red; }

/* --- PAGE HEADER --- */
header#page_header {
  width: 120px; height: 200px;
  position: fixed; top: 10px; left: 10px;
  padding: 10px 15px;
  z-index: 3;
  background-color: white; box-shadow: 0 1px 5px rgba(0,0,0,0.65);
}
header#page_header h1 { width: 120px; height: 147px; position: relative; margin: 5px 0; }
header#page_header h1 a { display: block; width: 120px; height: 147px; overflow: hidden; }
header#page_header h1 span {
  display: block; width: 120px; height: 147px;
  position: absolute; top: 0; left: 0; z-index: 4;
  background: url(<%= image_path 'logo_vysadkari_120.png' %>);
}

/* --- MAIN MENU & NAVIGATION --- */
nav#main_menu { position: fixed; left: 10px; top: 180px; }
nav#main_menu ul ul { display: none; }
nav#main_menu ul li:hover > ul { display: block; }
nav#main_menu ul li img:hover { cursor: pointer; }
nav#main_menu ul {
  position: relative; display: inline-table; line-height: 2.25em;
  background: white; list-style: none;
}
nav#main_menu ul:after { content: ""; clear: both; display: block; }
nav#main_menu ul li { float: left; width: 35px; height: 35px; margin: 0 20px; }
nav#main_menu > ul > li { padding: 10px 0 5px 0; margin: 0 10px 0 30px; }
nav#main_menu ul li.right { margin: 0 28px 0 12px; }
nav#main_menu ul li a, nav#main_menu ul li {
 display: block;
 color: black; text-decoration: none;
}
nav#main_menu ul ul {
  position: absolute; top: 100%; left: 0;
  padding: 0; background: white; box-shadow: 0 4px 5px rgba(0,0,0,0.65);
}
nav#main_menu ul li.right ul { left: auto; right: 0; }
nav#main_menu ul ul li {
  position: relative; float: none; width: 100px; height: 30px;
  margin: 0; border-top: 1px solid #EFEFEF;
}
nav#main_menu ul ul li a { color: black; width: 100px; height: 30px; text-indent: 10px; }
nav#main_menu ul ul li a:hover { color: white; background: #00AB66; }
nav#main_menu ul ul ul { position: absolute; left: 100%; top:0; }


nav#add_marker {
  position: fixed; left: 10px; top: 250px;
  z-index: 1;
  background-color: white;
}
nav#add_marker a { padding: 0 0 4px 0; }
nav#add_marker img { margin: 0 0 0 -2px; }

/* --- CONTENT --- */
div#content_outer_wrapper {
  position: absolute; left: 170px; top: 10px;
  width: 830px;
  text-align: center;
  z-index: 0;
  cursor: grab;
}
div#content_inner_wrapper {
  position: relative;
  background-color: white; box-shadow: 0 1px 5px rgba(0,0,0,0.65); background-color: rgba(255,255,255,0.95);
  margin: 0 0 170px 0; padding: 20px;
  cursor: default;
}
div#content_inner_wrapper a#close_button { position: absolute; top: 10px; right: 10px;}
div#content { position: relative; text-align: left; }
div#content h2 { margin: 5px 0 10px 0; }
div#content h3 { margin: 20px 0 10px 0; }
div#content p#gps { font-size: 1em; margin: -10px 0 0 0; font-style: italic; color: #666; }
div#content a { color: #00AB66; }
div#content a:hover { text-decoration: none; }
div#content div#pictures ul li { display: block; float: left; }
div#content div#pictures ul li.odd { margin: 0 0 10px 10px; clear: right; }
div#content iframe { overflow: hidden; }
nav#content_menu { width: 200px; margin: 0 0 20px 0; border-bottom: 1px solid grey; padding: 0 0 10px; }
div#left, div#right { float: left; width: 410px; }
div#right { width: 360px; margin: 0 0 0 20px; }

div#close_button_box { position: absolute; top: 0; right: 0; }
div#content_outer_wrapper a#close_button {
  display: block; width: 13px; height: 13px;
  position: relative; overflow: hidden;
}
div#content_outer_wrapper a#close_button span {
  display: block; width: 13px; height: 13px;
  position: absolute; top: 0; left: 0; z-index: 2;
  background: url(<%= image_path 'icon_close.png' %>);
}
div#flash_message div.notice { color: #00AB66; }
div#flash_message div.alert { color: red; }

div#comments { margin: 10px 0 0 0; border-top: 1px solid #CCC; }
div#comments h3 { margin: 10px 0 5px 0; font-size: 1em; }
div#comments h4 { margin: 15px 0 0 0; font-size: 1em; }
div.comment {
  margin: 0 0 5px 0; border-bottom: 1px solid #DEDEDE; padding: 0 0 5px 0;
  position: relative;
}
div.comment span.author { font-size: .85em; font-weight: bold; }
div.comment span.date { font-size: .85em; font-style: italic; color: #333; }
div.comment a.destroy { position: absolute; top: 0; right: 0; }

/* --- MAP --- */
div#maps_wrapper, div#maps { width: 100%; height: 100%; z-index: 0; }
div#maps_wrapper { position: fixed; }
div#maps img.leaflet-marker-icon { z-index: 30; }
.leaflet-control-zoom { top: 285px; }
.leaflet-marker-icon:hover { cursor: pointer; }
.leaflet-bar, .leaflet-control-zoom-in, .leaflet-control-zoom-out { border-radius: 0 !important; }
