<div id="content_outer_wrapper">
    <div id="content_inner_wrapper">
      <div id="close_button_box">
        <a href="#" id="close_button">close button<span></span></a>
      </div>
      <div id="content">
