history.pushState({}, "", "<%= request.original_url %>");

if ($("div#content").length == 0) {
  loadAndShowContentBox("<%=j render controller.action_name %>");
}
else {
  $("div#content").empty().html("<%=j render controller.action_name %>");
}
