if ($("div#content").length == 0) {
  loadContentBox("");
}

history.pushState({}, "", "<%= root_url %>");
$("div#content").empty().html("<%=j render 'flash' %>");
contentBoxAutoWidth();

<% if !@permanentFlash %>
  autoHideContentBox();
<% end %>
