<nav id="main_menu">
  <ul>
    <li><%= image_tag "icon_menu.png", alt: t("menu.menu") %>
      <ul>
        <%= render "website_menu" %>
      </ul></li>
    <li class="right">
      <% if @current_user.present? %>
        <%= image_tag "icon_user_logged.png", alt: t("menu.user") %>
      <% else %>
        <%= image_tag "icon_user.png", alt: t("menu.user") %>
      <% end %>
      <ul>
        <% if @current_user.present? %>
          <%= render "user_menu_logged" %>
        <% else %>
          <%= render "user_menu_basic" %>
        <% end %>
      </ul></li>
  </ul>
</nav>
