<% if @current_user.admin? %>
  <li><%= link_to t("menu.custom_pages"), custom_pages_url, remote: true %></li>
  <li><%= link_to t("menu.users"), users_url, remote: true %></li>
<% end %>
<li><%= link_to t("menu.account"), user_url(@current_user), remote: true %></li>
<li><%= link_to t("menu.logout"), logout_url, method: :delete, remote: true %></li>
