<% CustomPage.where(active: true, show_in_menu: true).order(:position_in_menu).each do |custom_page| %>
  <li><%= link_to custom_page.title, show_custom_page_url(custom_page), remote: true %></li>
<% end %>
