<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= @title %></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
</head>
<body id="<%= body_css_id() %>">

  <header id="page_header">
    <h1>
      <%= link_to root_url do %>
        <%= CustomPage::DEFAULT_TITLE %><span></span>
      <% end %>
    </h1>

    <%= render "main_menu" %>
  </header>

  <nav id="add_marker" class="leaflet-bar">
    <a href="#" id="addMarker" data-add-marker="false"><%= image_tag "add_marker.png", alt: t("markers.new.add_place") %></a>
  </nav>

  <div id="maps_wrapper">
    <div id="maps"></div>
  </div>

  <% if !yield.strip.empty? %>
    <%= render "content_box_start" %>
    <%= yield %>
    <%= render "content_box_end" %>
  <% end %>

  <script>
    var map = new L.map("maps");
  </script>
  <%= javascript_include_tag("mapInitializer.js") %>
  <%= render "markers/load_markers" %>

</body>
</html>
